@font-face {
	font-family: "CustomFont";
	src: url("../fonts/customfont.ttf");
}

body {
	font-family: 'CustomFont', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	background-color: #FFF;
	color: #000;
	min-height: 100%;
	min-width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


#home {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

#poem {
	text-align: center;
	width: 100%;
}

.titre {
	text-align: center;
	min-width: 100%;
	font-size: 14vw;
}

.line {
	margin: 0 0 0 0;
}

.letter:not(".titre") {
	margin-left: 0.05em;
	margin-right: 0.05em;
}
