@font-face {
	font-family: "CustomFont";
	src: url("../fonts/customfont.ttf");
}

body {
	font-family: 'CustomFont', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	background-color: #FFF;
	color: #000;
	min-height: 100%;
	min-width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


#home {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

#poem {
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.titre {
	text-align: center;
	min-width: 100%;
	font-size: 14vw;
}

.line {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 0 0 0;
	opacity: 0;
}

.letter:not(".titre") {
	paddingleft: 0.1em;
	padding-right: 0.1em;
	line-heigth: 1em;
}
